{{ define "main" }}
<main class="main">
  <div class="container">
    <section class="section text-center">
        <h1 class="text-center">{{ .Title }}</h1>
    </section>
    

    {{ $sections := site.Params.archiveSections | default (slice "posts") }}
    {{ $pages := where site.RegularPages "Section" "in" $sections }}
    {{ if site.Params.ShowAllPagesInArchive }}
      {{ $pages = site.RegularPages }}
    {{ end }}

    {{ range $pages.GroupByPublishDate "2006" }}
      {{ if ne .Key "0001" }}
      <section class="mb-5">
        <h2 class="h4 border-bottom pb-2 mb-3">{{ .Key }}
          <sup class="text-muted small ms-2">{{ len .Pages }}</sup>
        </h2>

        {{ range .Pages.GroupByDate "January" }}
        <div class="mb-4">
          <h3 class="h6 text-uppercase">{{ .Key }}
            <sup class="text-muted small ms-2">{{ len .Pages }}</sup>
          </h3>
          <ul class="list-unstyled ps-3">
            {{ range .Pages }}
              {{ if eq .Kind "page" }}
              <li class="mb-2">
                <a href="{{ .Permalink }}" class="text-decoration-none">
                  {{ .Title }}
                </a>
                {{ if .Draft }}
                  <sup class="text-warning ms-1">[draft]</sup>
                {{ end }}
              </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </section>
      {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}
